*{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-body-container{
  padding: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#reg-form{
  display: flex;
  flex: 1;
  flex-direction: column;
  color: white;
}

#reg-form h1{
  color: white;
  text-align: center;
}

#reg-form .form-group, #reg-form .btn{
  width: 60%;
  margin: auto;
}
#reg-form .btn{
  margin-top: 20px;
  background: #295f3b;
  outline: #295f3b;
}
#form-container{
  width: 70%;
  margin: 70px auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5%;
  border-radius: 7px;
  display: flex;
}

ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 5px 10%;
  overflow: hidden;
  background-color: #295f3b;
}

ul#navbar li {
  float: left;
  margin: 10px 13%;
  font-size: 30px;
}

ul#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s ease;
}

ul#navbar li a:hover {
  background-color: #111;
}

#users-table{
  margin:  auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  border: 2px solid #295f3b;
}

#users-table td, #users-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users-table tr:nth-child(even){background-color: #f2f2f2;}

#users-table tr:hover {background-color: #ddd;}

#users-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #295f3b;
  color: white;
}

#search-container, #heading-container{
  display: flex;
  margin: 50px 5%;
}

#heading-container h1{
  /* text-align: center; */
  margin: auto;
}

#search-container input{
  margin: 0 auto;
  text-align: center;
}

#search-container input{
  padding: 10px;
  outline: none;
  border: 1.5px solid #295f3b;
  border-radius: 4px;
}

#table-heading-container{
  margin: 30px 5%;
  display: none;
}